@media (min-width: 1300px) {
     .container.full {
        width: 100%;
    }
}
 @media (max-width: 1300px) {
     .black-search-table-cell div {
        width: 50%
    }
     .marg50 {
        margin-top: 30px;
    }
     .nav > li > a {
        padding: 35px 13px;
    }
     .navbar-custom.top-nav-collapse .nav > li > a {
        padding: 25px 13px;
    }
     .navbar-custom.top-nav-collapse .cart_search_block li {
        padding: 23px 5px 22px 5px;
    }
     .cart_search_block > li {
        padding: 35px 13px;
    }
     .navbar-custom.top-nav-collapse .container.full .cart_search_block > li {
        padding: 24px 13px;
    }
     .logo {
        padding-left: 0px;
        line-height: 90px;
    }
     .cart_search_block .menu-divider {
        margin: 37px 13px 0 13px;
    }
     .navbar-custom.top-nav-collapse .container.full .cart_search_block > li.menu-divider {
        margin-top: 25px;
    }
     .navbar.top-nav-collapse .logo {
        line-height: 70px;
    }
     .menu-transparent .navbar.top-nav-collapse {
        padding: 0px;
    }
    .cart_search_block {display: none;}
}
 @media (max-width: 1200px) and (min-width: 991px) {
     .progress-circle .circle {
         margin: 0 25px;
    }
     .post-set.left-image-post.sticky.no-thumbnail .content-block {
        width: 100%;
    }
     .post-set.left-image-post .post-thumbnail {
        width: 300px;
    }
     .post-set.left-image-post .content-block {
        width: 286px;
    }
     .slider-top {
        margin-top: 50px;
    }
}
 @media (max-width: 1024px) {
     .carousel-item-text {
        display: block;
        text-align: center;
    }
     .navbar-custom {
        padding: 0px;
    }
     [id*="clock"] div {
         font-size: 14px;
         margin: 0 15px;
    }
     [id*="clock"] span {
         font-size: 48px;
         padding: 18px 0;
    }
}
 @media (min-width: 991px) {
     .menu-responsive.mobile {
        display: none;
    }
     .menu-responsive.desktop {
        display: block;
        float: left;
        line-height: 1;
    }
     .navbar-center .menu-responsive.desktop {
        float: none;
    }
}
 @media (max-width: 991px) and (min-width: 768px) {
     .progress-circle .circle {
         margin: 0 30px;
    }
     .post-set.left-image-post .post-thumbnail {
        width: 310px;
    }
     .post-set.left-image-post .content-block {
        width: 380px;
    }
}
 @media (max-width: 990px) {
     .navbar.top-nav-collapse .logo {
        line-height: 62px;
    }
     .navbar.top-nav-collapse .logo img{
        max-width: 130px;
    }
     .navbar-center .logo a {
        left: 0;
        position: relative;
        transform: none;
    }
     .cart_search_block {
        display: none;
    }
     .navbar-custom.top-nav-collapse .nav-icon3 span {
        background: #333;
    }
     .navbar-custom.top-nav-collapse .nav-icon3 {
        top:20px;
        width: 28px;
        height: 18px;
    }
     .navbar-custom.top-nav-collapse .nav-icon3 span:nth-child(3), .navbar-custom.top-nav-collapse .nav-icon3 span:nth-child(4) {
        top: 8px;
    }
     .navbar-custom.top-nav-collapse .nav-icon3 span:nth-child(5), .navbar-custom.top-nav-collapse .nav-icon3 span:nth-child(6) {
        top: 16px;
    }
     .intro .intro-body .text-left, .intro .intro-body .text-right {
        text-align: center !important
    }
     .intro .intro-body {
        padding: 120px 15px 50px 15px;
    }
     .intro h1.intro-small {
        font-size: 40px;
         line-height: 40px;
    }
     .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        top: 17%;
    }
     .black-search-table-cell div {
        width: 75%
    }
     .logo {
        padding-left: 0px;
         line-height: 88px;
    }
     .menu-responsive.mobile {
        display: block;
        float: none;
        position: absolute;
        right: 15px;
    }
     .carousel-item-text {
         padding: 30px;
    }
     .unibody_testimonial_content_holder {
        padding: 0px;
    }
     .menu-responsive.desktop {
        display: none;
    }
     .resp-right {
        float: right;
    }
     .resp-left {
        float: left;
    }
     .content-wrap .sidebar {
        margin-top: 50px;
    }
     .sidebar-right .wrap-content{
        border-right: 0px;
        padding-right: 0px;
    }
     .sidebar-left .wrap-content {
        border-left: 0px;
        padding-left: 0px;
    }
     .content-wrap .sidebar-right {
        border-right: 0px;
        padding-right: 15px;
         float: none;
    }
     .content-wrap .sidebar-left {
        border-left: 0px;
        padding-left: 15px;
        float: none;
    }
     .footer-widget {
        padding: 30px 0;
    }
     .responsive-menu {
         position: absolute;
         top: 90px;
         right: 15px;
    }
     .slider-top {
        margin-top: 50px;
    }
     .post-set.left-image-post.sticky.no-thumbnail .content-block {
        width: 100%;
    }
     .resp-marg-50 {
        margin-top: 50px;
    }
     .vc_parallax .vc_parallax-inner {
         background-repeat: no-repeat !important;
         background-position: 50% 50% !important;
    }
     .no-sidebar .post-set.unibody_mas_item {
        width: 50%
    }
     .vc_parallax .vc_parallax-inner {
         background-repeat: repeat !important;
         background-position: 50% 0 !important;
    }
    .pad30 {padding-top: 0px;}
    .owl-carousel#watch {margin: -35px 0 0 0 !important;}
     .team-image img {
         display: block;
         margin-right: auto;
         margin-left: auto;
    }
}
 @media (max-width: 767px) {
     .wpb_text_column, .promo-block, .button-responsive-class {
        text-align: center !important;
    }
    #watch img {max-width: 50%;}
     .scroll-top {
        display: none;
    }
     .footer-copyright .text-left {
        text-align: center;
    }
    .copyright-info {text-align: center; margin-bottom: 25px;}
     .footer-copyright .text-right {
        text-align: center;
    }
    .single .tag_line_image.portfolio .tag_line_title {
        font-size: 36px;
        line-height: 1.5;
    }
    .portfolio-single-fields {margin-bottom: 30px;}
    .sidebar {margin-top: 60px;}
     .sidebar-right {
        float: none;
        margin-right: 0;
    }
     .sidebar-left {
        float: none;
        margin-left: 0;
    }
    .single .tag_line_title {
        line-height: 1.5;
    }
     [id*="clock"] div {
         font-size: 14px;
         margin: 0 15px;
    }
     [id*="clock"] span {
         font-size: 42px;
         padding: 15px 0;
    }
     .post-set.left-image-post .post-thumbnail {
        width: 100%;
    }
     .post-set.left-image-post .content-block {
        margin-left:0px;
         margin-top:30px;
        width: 100%;
    }
     .left-image-post.has-post-thumbnail .post-thumbnail .post-hover a {
        height: 350px;
    }
     .no-sidebar .post-set.unibody_mas_item {
        width: 50%
    }
    .has-post-thumbnail.standart-post .post-thumbnail .post-hover a {height: 300px;}
     .footer-area-cont {
        text-align: center;
    }
     .footer-area-cont .text-right {
        text-align: center;
    }
     .team-image img {
         display: block;
         margin-right: auto;
         margin-left: auto;
    }
     .intro h1 {
         font-size: 48px;
         line-height: 48px;
    }
    .carousel-control.left, .carousel-control.right {display: none;}
    .intro-body .icon-big {padding: 0;}
    .scroll-btn {display: none !important;}
    .intro .intro-body {padding: 110px 15px 50px 15px;}

}
 @media (min-width: 768px) {
     .intro .intro-body .brand-heading {
         font-size: 46px;
    }
}
 @media (max-width: 600px) {
     .commentlist .children {
        margin-left: 0px;
    }
}
 @media (max-width: 480px) {
    .intro .intro-body {padding: 120px 15px 40px 15px;}
    .scroll-btn {display: block !important;}
    .post-set.unibody_mas_item {
        width: 100%;
    }
     .black-search-table-cell div {
        width: 85%
    }
     .footer-copyright {
        text-align: center;
    }
    .has-post-thumbnail.standart-post .post-thumbnail .post-hover a {height: 210px;}
    #watch img {max-width: 85%;}
     .author-info {
        text-align: center;
        padding-top: 10px;
    }
    .wpb_wrapper .blog-main {text-align: center;}
    .promo-block > p {padding-left: 15px; padding-right: 15px;}
     .content-wrap .sidebar-right {
        border-right: 0px;
        padding-right: 15px;
         float: none;
    }
     .content-wrap .sidebar-left {
        border-left: 0px;
        padding-left: 15px;
        float: none;
    }
     .contact-top li {
         width: 100%;
         border: none !important;
         line-height: 1.75;
         padding: 15px 0 0 0;
         text-align: center;
    }
     .contact-top li:last-child {
        padding-bottom: 15px;
    }
    .intro ul.list-inline li {margin-bottom: 15px;}
     [id*="clock"] div {
         font-size: 12px;
         margin: 0 7px;
    }
     [id*="clock"] span {
         font-size: 32px;
         padding: 5px 0;
    }
     .tag_line_title {
        font-size: 40px;
        line-height: 40px;
    }
     .no-sidebar .post-set.unibody_mas_item {
        width: 100%
    }
     .left-image-post.has-post-thumbnail .post-thumbnail .post-hover a {
        height: 250px;
    }
     .footer-copyright {
        border:none;
    }
     .intro h1 {
         font-size: 50px !important;
    }
}
